<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>롯데ON::관리자 페이지</title>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>
    <script th:src="@{https://kit.fontawesome.com/20962f3e4b.js}" crossorigin="anonymous"}></script>
    <script th:src="@{/js/admin/gnb.js}"></script>
    <script th:src="@{/js/admin/checkbox.js}"></script>
    <script th:src="@{/js/admin/ListDelete.js}"></script>
    <script th:src="@{/js/admin/productCate.js}"></script>
    <link rel="stylesheet" th:href="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCS.css}">
</head>
<body>
<div id="admin-wrapper">
    <header>
        <div>
            <a th:href="@{/admin/index}" class="logo"><img th:src="@{/images/admin/admin_logo.png}" alt="admin_logo"/></a>
            <p>
                <span>님 반갑습니다.</span>
                <a th:href="@{/admin/index}">HOME |</a>
                <a th:href="@{/member/logout}">로그아웃 |</a>
                <a th:href="@{/cs/index}">고객센터</a>
            </p>
        </div>
    </header>