<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="/member/member.html">

<div class="signup" layout:fragment="content">
	<nav>
		<h1>약관동의</h1>
	</nav>
	<section>
		<input type="hidden" name="type" th:value="${type}"/>
		<th:block th:if="${type eq '1'}">
			<h3><span class="essential">(필수)</span>케이마켓 이용약관</h3>
			<textarea class="terms" readonly>[[${terms.terms}]]</textarea>
		</th:block>
		<th:block th:if="${type eq '2'}">
			<h3><span class="essential">(필수)</span>판매자 이용약관</h3>
			<textarea class="terms" readonly>[[${terms.tax}]]</textarea>
		</th:block>
		<label><input type="checkbox" name="agree1" />동의합니다.</label>

		<h3><span class="essential">(필수)</span>전자금융거래 이용약관</h3>
		<textarea class="financial" readonly>[[${terms.finance}]]</textarea>
		<label><input type="checkbox" name="agree2" />동의합니다.</label>

		<h3><span class="essential">(필수)</span>개인정보 수집동의</h3>
		<textarea class="privacy" readonly>[[${terms.privacy}]]</textarea>
		<label><input type="checkbox" name="agree3" />동의합니다.</label>
	</section>
	<section th:if="${type eq '1'}">
		<h3><span class="optional">(선택)</span>위치정보 이용약관</h3>
		<textarea class="location" readonly>[[${terms.location}]]</textarea>
		<label><input type="checkbox" name="agree4" />동의합니다.</label>
	</section>


	<div>
		<input type="button" class="agree" name="agree" value="동의하기" />
	</div>
</div>


</html>