<th:block th:insert="~{/admin/_header.html}"/>
<th:block th:insert="~{/admin/_aside.html}"/>
<script>

    window.onload = function(){
        document.getElementById('cateSelect').addEventListener('change', function() {
            var selectedValue = this.value;

            console.log("cate2 : " + selectedValue);

            // 페이지 리로드
            window.location.href = "/LotteON/admin/cs/notice/list?cate2=" + selectedValue + "&pg=1";
        });
    }

</script>
        <section id="admin-cs-notice-list">
            <nav>
                <h3>공지사항 목록</h3>
                <p>
                    HOME &gt; 고객센터 &gt; <strong>공지사항</strong>
                </p>
            </nav>
            <section>
                <div>
                    <select name="cate2" id="cateSelect">
                        <option>유형선택</option>
                        <option value="cs">고객서비스</option>
                        <option value="safety">안전거래</option>
                        <option value="danger">위해상품</option>
                        <option value="everesult">이벤트당첨</option>
                    </select>
                </div>
                <table>
                    <tbody>
                        <form id="formCheck" th:action="@{/admin/cs/notice/delete}" method="get">
                            <tr>
                                <th><input type="checkbox" name="all" id="selectAll"></th>
                                <th>번호</th>
                                <th>유형</th>
                                <th>제목</th>
                                <th>조회</th>
                                <th>날짜</th>
                                <th>관리</th>
                            </tr>
                            <tr th:each="list:${lists}">
                                <td class="chk"><input type="checkbox" name="chk" class="checkbox" th:value="${list.no}"></td>
                                <td class="no" th:text="${list.no}"></td>
                                <td class="type" th:text="${list.detail}"></td>
                                <td class="title" ><a th:href="@{/admin/cs/notice/view(no=${list.no})}" th:text="${list.title}"></a></td>
                                <td class="hit" th:text="${list.hit}"></td>
                                <td class="rdate" th:text="${list.rdate.toLocalDate()}"></td>
                                <td>
                                    <a href="#">[삭제]</a>
                                    <a href="#">[수정]</a>
                                </td>
                            </tr>
                        </form>
                    </tbody>
                </table>
                <a href="#" class="btnDelete">선택삭제</a>
                <a href="#" class="btnWrite">작성하기</a>
                <div class="paging">
                    <span class="prev" th:if="${pageGroupStart > 1}">
                        <a th:href="@{/admin/cs/notice/list(pg=${pageGroupStart - 1})}"><&nbsp;이전</a>
                    </span>
                    <span class="num" th:each="num: ${#numbers.sequence(pageGroupStart, pageGroupEnd)}">
                        <th:block th:if="${cate2 eq null}">
                            <a th:href="@{/admin/cs/notice/list(pg=${num})}" th:classappend="${num eq currentPage ? 'on' : ''}">[[${num}]]</a>
                        </th:block>
                        <th:block th:if="${cate2 ne null}">
                            <a th:href="@{/admin/cs/notice/list(cate2=${cate2},pg=${num})}" th:classappend="${num eq currentPage ? 'on' : ''}">[[${num}]]</a>
                        </th:block>
                    </span>
                    <span class="next" th:if="${pageGroupEnd < lastPageNum}">
                            <a th:href="@{/admin/cs/notice/list(pg=${pageGroupEnd + 1})}">다음></a>
                    </span>
                </div>
            </section> <!--table end-->
        </section><!--admin-product-list end-->
    </main>
<th:block th:insert="~{/admin/_footer.html}"/>