<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lotteon.mapper.AdminCSMapper">

    <!-- notice list -->

    <select id="selectNoticeList" resultType="kr.co.lotteon.dto.cs.CsArticleNoticeDTO">
        SELECT a.*, c.detail
        FROM lo_cs_article_notice a
        INNER JOIN lo_cs_cate2 c ON a.cate2 = c.cate2
        WHERE a.parent = 0 AND a.useyn = "Y"
        ORDER BY a.no DESC LIMIT #{start}, 10;
    </select>

    <select id="NoticeListcs" resultType="kr.co.lotteon.dto.cs.CsArticleNoticeDTO">
        SELECT a.*, c.detail
        FROM lo_cs_article_notice a
        INNER JOIN lo_cs_cate2 c ON a.cate2 = c.cate2
        WHERE a.parent = 0 AND a.cate2 = "cs" AND a.useyn = "Y"
        ORDER BY a.no DESC LIMIT #{start}, 10;
    </select>

    <select id="NoticeListsafety" resultType="kr.co.lotteon.dto.cs.CsArticleNoticeDTO">
        SELECT a.*, c.detail
        FROM lo_cs_article_notice a
        INNER JOIN lo_cs_cate2 c ON a.cate2 = c.cate2
        WHERE a.parent = 0 AND a.cate2 = "safety" AND a.useyn = "Y"
        ORDER BY a.no DESC LIMIT #{start}, 10;
    </select>

    <select id="NoticeListdanger" resultType="kr.co.lotteon.dto.cs.CsArticleNoticeDTO">
        SELECT a.*, c.detail
        FROM lo_cs_article_notice a
        INNER JOIN lo_cs_cate2 c ON a.cate2 = c.cate2
        WHERE a.parent = 0 AND a.cate2 = "danger" AND a.useyn = "Y"
        ORDER BY a.no DESC LIMIT #{start}, 10;
    </select>

    <select id="NoticeListeveresult" resultType="kr.co.lotteon.dto.cs.CsArticleNoticeDTO">
        SELECT a.*, c.detail
        FROM lo_cs_article_notice a
        INNER JOIN lo_cs_cate2 c ON a.cate2 = c.cate2
        WHERE a.parent = 0 AND a.cate2 = "everesult" AND a.useyn = "Y"
        ORDER BY a.no DESC LIMIT #{start}, 10;
    </select>

    <select id="selectCountTotal" resultType="int">
        SELECT count(*)
        FROM lo_cs_article_notice
        WHERE parent = 0 AND useyn = "Y";
    </select>

    <select id="selectCountTotalCate" resultType="int">
        SELECT count(*)
        FROM lo_cs_article_notice
        WHERE parent = 0 AND useyn = "Y" AND cate2 = #{cate2};
    </select>

    <!-- notice view -->
    <select id="NoticeView" resultType="kr.co.lotteon.dto.cs.CsArticleNoticeDTO">
        SELECT *
        FROM lo_cs_article_notice
        WHERE no = #{no};
    </select>

    <!-- notice Write -->
    <insert id="NoticeWrite">
        INSERT INTO `lo_cs_article_notice` ()
    </insert>

</mapper>