<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lotteon.mapper.CsMapper">


    <select id="selectQnaAndCate3" resultType="kr.co.lotteon.dto.cs.CsArticleQnaDTO">
        select * from `lo_cs_article_qna` as a inner join `lo_cs_cate3` as b on a.`type` = b.`cate3` where a.`useyn`='Y' AND a.`parent`=0;
    </select>

    <select id="selectArticleNo" resultType="kr.co.lotteon.dto.cs.CsArticleQnaDTO">
        select * from `lo_cs_article_qna` where `no`=#{no}
    </select>

    <update id="updateArticle">
        update `lo_cs_article_qna` set `title`=#{title} ,`content`=#{content},`cate2`=#{cate2},`type`=#{type} where no=#{no}
    </update>

    <update id="deleteArticle">
        update `lo_cs_article_qna` set `useyn`='N' where no=#{no}
    </update>

    <select id="selectCate2" resultType="kr.co.lotteon.dto.cs.CsCate2DTO">
        select * from `lo_cs_cate2` where `cate2`=#{cate2};
    </select>

    <select id="selectCate3" resultType="kr.co.lotteon.dto.cs.CsCate3DTO">
        select * from `lo_cs_cate3`;
    </select>

    <select id="selectNoticeAndCate3" resultType="kr.co.lotteon.dto.cs.CsArticleNoticeDTO">
        select * from `lo_cs_article_notice` as a inner join `lo_cs_cate3` as b on a.`type` = b.`cate3` where a.`useyn`='Y' AND a.`parent`=0 order by `no` DESC limit 5;
    </select>

    <select id="selectQnaAndCate3andJoin" resultType="kr.co.lotteon.dto.cs.CsArticleQnaDTO">
        select * from `lo_cs_article_qna` as a inner join `lo_cs_cate3` as b on a.`type` = b.`cate3` where a.`useyn`='Y' AND a.`parent`=0 order by `no` DESC limit 5;
    </select>

</mapper>